html {
    background: url("../IMG/varios-elementos-fitness-salud.jpg") no-repeat;
    background-size: cover;
    min-height: 100%;
}

body {
    background-color: transparent;
}

.login-row{
    padding-top:15% ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


